.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.square__container {
  margin: 50px auto;
  padding: 10px;
  width: 640px
}

.square {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  position: relative;
}

.square.square--top-left {
  float: left;
  margin-bottom: 20px;
}
.square.square--top-right {
  float: right;
  margin-bottom: 20px;
}
.square.square--bottom-left {
  float: left;
}
.square.square--bottom-right {
  float: right;
}

.square a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: pink;
  text-align: center;
  font-size: 100px;
  line-height: 280px;
}